<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330634167120-cf8sqg93vejt2n8gkbt5ke60r5ol7b3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330634167120-cf8sqg93vejt2n8gkbt5ke60r5ol7b3b</string>
	<key>API_KEY</key>
	<string>AIzaSyCjOJSMuVJ22KtIflBPcPA9wV1EPFUyGTw</string>
	<key>GCM_SENDER_ID</key>
	<string>330634167120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NomoSiOS.Sociales</string>
	<key>PROJECT_ID</key>
	<string>road2-50-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>road2-50-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330634167120:ios:3116f8f226e1d4f283e255</string>
</dict>
</plist>